﻿@model InventorySystemModel.InventoryModel.GLUserGroup


@{
    ViewBag.Title = "User Group -Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modals"></div>

<header class="page-header">
    <h2>User Group Information</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Setup</span></li>
            <li><span>User Group Information</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">All User Group Information Data</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    @if (Model.IsNew)
                    {
                        <button type="button" id="Add" onclick="add()" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New</button>
                        @* <button type="button" id="cancelll" onclick="window.history.back()" class="btn btn-primary">Cancel</button>*@
                    }

                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none table-hover" id="GroupTable">
            <thead>
                <tr>
                    <th >Group title </th>
                    <th>Description </th>
                    <th >Status </th>
                    <th width="100px">Actions</th>
                </tr>
            </thead>

            <tbody id="ProductTableID">
                @foreach (var  item in Model.getGroupDataAll())
                {
                    <tr>

                        <td> @item.GroupTitle </td>
                        <td> @item.Description </td>
                   @if (Convert.ToBoolean(item.Inactive))
                   {
                    <td>InActive </td>

                   }
                   else
                   {
                    <td>Active</td>

                   }
                        <td>
                            @if (Convert.ToBoolean(Model.Isedit))
                            {

                                <a href="#basicEdit" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Edit"  onclick="Edit(@item.GroupID)">
                                    <i class="fa fa-pencil"></i>

                                </a>
                            }
                            @if (Convert.ToBoolean(Model.Isdelete))
                            {
                                <a href="#basic" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Delete"  onclick="Del(@item.GroupID)">
                                    <i class="glyphicon glyphicon-trash"></i>

                                </a>
                            }
                            <a href="#" class="on-default edit-row" title="View" onclick="view(@item.GroupID)">
                                <i class="fa fa-table"></i>

                            </a>
                            @*<button class="btn btn-success btn-xs" onclick="view(@item["Voucherid"])"><span class="glyphicon glyphicon-blackboard"></span> View</button>*@
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>

</section>


<script>

    $(document).ready(function () {
        $("#modals").load('/CustomClasses/IndexModaling.html')

        //$('#btnTriggerEdit').click();

        $("#GroupTable").dataTable(
           {

               "aoColumns": [{ "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }
                   
               ],
               "bSort": true,

               dom: 'Bfrtip',
              /// "dom": '<"dt-buttons"Bfli>rtp',
               buttons: [
                                {
                                    extend: 'copy',
                                    text: '<span class="glyphicon glyphicon-floppy-disk"></span><span><strong> Copy</strong></span>',
                                    className: 'btn btn-primary  btn-sm',

                                    title: 'User Group',

                                    exportOptions: {
                                        columns: ':visible'
                                    }

                                },



                              {
                                  extend: 'pdf',
                                  text: '  <span class="glyphicon glyphicon-file"></span><span> PDF</strong></span>',
                                  className: 'btn btn-primary  btn-sm',

                                  title: 'User Group',
                                  orientation: 'portrait',
                                  pageSize: 'A4',
                                  exportOptions: {
                                      columns: ':visible'
                                  }
                                
                                  }  ,

                               {

                                   title: 'User Group',
                                   text: '<span class="glyphicon glyphicon-th"></span><span><strong> Excel</strong></span>',
                                   className: 'btn btn-primary  btn-sm',


                                   orientation: 'portrait',
                                   pageSize: 'A4',
                                   extend: 'excel',
                                   footer: true,
                                   exportOptions: {
                                       columns: ':visible'
                                   }
                               },


                             {
                                 extend: 'csv',

                                 title: 'User Group',
                                 text: '<span class="	glyphicon glyphicon-list-alt"></span><span><strong> CSV</strong></span>',
                                 className: 'btn btn-primary  btn-sm',
                                 exportOptions: {
                                     columns: ':visible'
                                 }

                             },
                           {
                               extend: 'print',
                               title: 'User Group',
                               text: '<span class="glyphicon glyphicon-print"></span><span><strong> Print</strong></span>',
                               className: 'btn btn-primary  btn-sm',

                               exportOptions: {columns: ':visible'}

                           },
                           {

                               extend: 'colvis',
                               text: '<span class="glyphicon glyphicon-blackboard"></span><span><strong> Column visibility</strong></span>',
                               className: 'btn btn-primary  btn-sm',

                               //  'colvis'
                           }

               ],

              columnDefs: [{targets: -1, visible: true }]

             
           })
    })

    function add() {
        window.location.href = "/UserGroup/create/"
    }
 
  
    var EditID = 0;
    var DeleteID = 0;
    function confirmPopupEdit() {
        window.location.href = "/UserGroup/Edit/" + EditID + "|1"
    }

    function Edit(id) {
        EditID = id
    }

    function confirmPopupDelete() {
        window.location.href = "/UserGroup/delete/" + DeleteID

    }
    function Del(id) {
        DeleteID = id
    }

    function view(id) {
        window.location.href = "/UserGroup/Edit/" + id + "|0"

    }

</script>



