﻿@model InventorySystemModel.InventoryModel.Gen_PartyInfo

@{
    ViewBag.Title = "Party Information";
}


@using (@Html.BeginForm("Save", "PartyInfo", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.PartyID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = ViewBag.Title + " View";
        }
        else
        {
            ViewBag.Title = ViewBag.Title + " Edit";
        }

    }
    else
    {

        ViewBag.Title = ViewBag.Title + " Create";

    }
    @Html.HiddenFor(m => m.PartyID)
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>@ViewBag.Title</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">@ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for input @ViewBag.Title data .
                        </p>
                    </header>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-sm-6 control-label">Region <span class="required">*</span></label>
                                @Html.DropDownListFor(model => model.Region_ID, Model.GetRegion(), new { @placeholder = "Enter Type", @class = "form-control selectpicker " })
                            </div>

                            <div class="col-md-3">
                                <label class="col-sm-6 control-label"> Territory <span class="required">*</span></label>
                                <select id="Territory_ID" class="selectpicker" name="Territory_ID">
                                    <option value="0">-- Please Territory -- </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="col-sm-6 control-label"> Town <span class="required">*</span></label>
                                <select id="Town_ID" class="selectpicker" name="Town_ID">
                                    <option value="0">-- Please Town -- </option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="col-sm-6 control-label"> Sectors <span class="required">*</span></label>
                                <select id="Sector_ID" class="selectpicker" name="Sector_ID">
                                    <option value="0">-- Please Sector -- </option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-sm-6 control-label">Party Code <span class="required">*</span></label>
                                @Html.TextBoxFor(model => model.PartyCode, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title " })
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Party Name <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.PartyTitle, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title " })
                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Urdu <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.PartyTitleInUrdu, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter  Title In Urdu " })

                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Address<span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.PartyAddress, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Address " })


                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label"> Urdu  <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.PartyAddressInUrdu, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Address  In Urdu " })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Phone # <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.PhoneNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Phone # " })

                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Mobile # <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.MobileNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Mobile #" })


                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label"> GST  <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.GSTNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter GST " })


                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">NTN <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.NTNNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "EnterNTN " })


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="col-sm-3 control-label">Email <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Email " })

                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Web Address <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Web Addres" })


                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Contact Preson  <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.ContacePerson, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Contact Person " })

                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Mobile Person <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.ContacePersonMobileNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Contact Mobile Person " })

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Designation <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Designation " })

                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Country <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Country" })


                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Description  <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Description" })


                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Account ID <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Account_ID, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Account ID " })


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Party Type <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.PartyType_ID, Model.Get_AllPartytype(), new { @placeholder = "Enter Type", @class = "form-control selectpicker " })
                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Country <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Country" })

                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-6 control-label">Credit Limit  <span class="required">*</span></label>

                                    @Html.TextBoxFor(model => model.CreditLimit, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Credit Limit" })


                                </div>
                                <div class="col-md-3">
                                    <div style="margin-top: 30px;" class="form-check">
                                        @Html.CheckBoxFor(model => model.IsSupplier, new { })
                                        <label for="Inactive">Status</label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="pic">Picture <span class="required">*</span></label>
                                <div class="col-sm-9">

                                    <input type="hidden" id="LogoPath" name="LogoPath" value="@Model.LogoPath" />
                                    <input style="margin-top: 5px;" type="file" value="" name="ImageUpload" size="40" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />

                                    <br><br>

                                    <div class="col-sm-3">
                                        <img src="@Url.Content(Model.LogoPath)" @*height="500" width="500"*@ class="img-circle img-responsive img-fluid img-thumbnail " id="imagePreview" />

                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            <strong>Instructions for Upload Picture:</strong><br>
                                            Scan your recent passport size colour photograph taken at a photo studio   at 300 dpi. Your application will be rejected if the uploaded   photograph does not meet the following requirements: <br>
                                            <a href="@Url.Content(Model.LogoPath)" target="_blank">Click Here to View Sample</a>
                                        </p>
                                        <ul>
                                            <li>Your full face must be clearly visible.</li>
                                            <li>Background must be plain white, off-white or clear. (plain blue is acceptable)</li>
                                            <li>The photograph must be scanned clearly and must not be blurry or pixelated.</li>
                                            <li>Uploaded photograph must be in JPEG (.jpg) file format.</li>
                                        </ul>
                                        <p>
                                        </p>
                                    </div>


                                </div>
                            </div>


                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                        <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                                    </div>

                                </div>
                            </footer>
                        </div>
                </section>

            </div>

        </div>

    </div>

}





<script>


    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

    function postform() {

        var ReturnValue = true

        $("#myform").validate();




        var Data = { Name: $('#BranchTitle').val(), ID: $("#PartyID").val() }
        $.ajax({
            async: false,
            url: "/PartyInfo/Duplicate",
            data: Data,
            success: function (data) {

                var c = JSON.parse(data);
                if (c != "") {
                    bootbox.alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                bootbox.alert("Error")
            }
        })
        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
        // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });



    $('#Region_ID').change(function (e) {

        var obs = $('#Territory_ID');
        obs.empty();
        obs.append(new Option("--- Select Territory --", "0"));
        obs.trigger("change");
        var url = '@Url.Action("FetchTerritory", "PartyInfo")';
        var RegionID = $('#Region_ID option:selected').attr('value');
        if (RegionID > 0) {

            $.getJSON(url,
                { ID: RegionID },
                function (response) {
                    obs.empty();
                    obs.append(new Option("-- Select Territory --", "0"));

                    $.each(response,
                        function (index, item) {
                            var ob = new Option(item.Text, item.Value);
                            obs.append(ob);
                        });
                    obs.selectpicker('refresh');
                });

        }
    });



    $('#Territory_ID').change(function (e) {

        var obs = $('#Town_ID');
        obs.empty();
        obs.append(new Option("--- Select Town --", "0"));
        obs.trigger("change");
        var url = '@Url.Action("FetchTown", "PartyInfo")';
        var TerritoryID = $('#Territory_ID option:selected').attr('value');
        if (TerritoryID > 0) {

            $.getJSON(url,
                { ID: TerritoryID },
                function (response) {
                    obs.empty();
                    obs.append(new Option("-- Select Town --", "0"));

                    $.each(response,
                        function (index, item) {
                            var ob = new Option(item.Text, item.Value);
                            obs.append(ob);
                        });
                    obs.selectpicker('refresh');
                });

        }
    });



    $('#Town_ID').change(function (e) {

        var obs = $('#Sector_ID');
        obs.empty();
        obs.append(new Option("--- Select Sector --", "0"));
        obs.trigger("change");
        var url = '@Url.Action("FetchSector", "PartyInfo")';
        var TownID = $('#Town_ID option:selected').attr('value');
        if (TownID > 0) {

            $.getJSON(url,
                { ID: TownID },
                function (response) {
                    obs.empty();
                    obs.append(new Option("-- Select Sector --", "0"));
                    $.each(response,
                        function (index, item) {
                            var ob = new Option(item.Text, item.Value);
                            obs.append(ob);
                        });
                    obs.selectpicker('refresh');
                });

        }
    });

</script>



