﻿@model InventorySystemModel.InventoryModel.GLUser

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (@Html.BeginForm("Save", "GLUser", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.Userid > 0)
    {
        ViewBag.Title = "User Edit";

    }
    else
    {

        ViewBag.Title = "User Create";

    }
    @Html.HiddenFor(m => m.Userid)
    <header class="page-header">
        <h2>GL User</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>GL User</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">GL User</h2>
                        <p class="panel-subtitle">
                            Form control for input GL User data .
                        </p>
                    </header>
                    <div class="panel-body">
                       


                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Name <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter User Name" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Password<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Password" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Roles / Groups <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.DropDownListFor(model => model.GroupID, Model.loadUsergroup(), new { @placeholder = "Enter Type", @class = "form-control selectpicker " })

                             </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">InActive <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                <label class="" for="Active">In Active </label>

                                @Html.CheckBoxFor(model => model.Active, new { })
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="pic">Picture <span class="required">*</span></label>
                            <div class="col-sm-9">

                                <input type="hidden" id="pathphoto" name="PhotoPath" value="@Model.PhotoPath" />
                                <input style="margin-top: 5px;" type="file" value="" name="ImageUpload" size="40" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />

                                <br><br>

                                <div class="col-sm-3">
                                    <img src="@Url.Content(Model.PhotoPath)" @*height="500" width="500"*@ class="img-circle img-responsive img-fluid img-thumbnail " id="imagePreview" />

                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong>Instructions for Upload Picture:</strong><br>
                                        Scan your recent passport size colour photograph taken at a photo studio   at 300 dpi. Your application will be rejected if the uploaded   photograph does not meet the following requirements: <br>
                                        <a href="@Url.Content(Model.PhotoPath)" target="_blank">Click Here to View Sample</a>
                                    </p>
                                    <ul>
                                        <li>Your full face must be clearly visible.</li>
                                        <li>Background must be plain white, off-white or clear. (plain blue is acceptable)</li>
                                        <li>The photograph must be scanned clearly and must not be blurry or pixelated.</li>
                                        <li>Uploaded photograph must be in JPEG (.jpg) file format.</li>
                                    </ul>
                                    <p>
                                    </p>
                                </div>


                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>


    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

    function postform() {

        var ReturnValue = true

        if ($("#GroupID").val() == "0") {
            $('#GroupID').selectpicker('setStyle', 'btn-danger');
            $('#GroupID').selectpicker('refresh');
            ReturnValue = false;
        }
        //    ReturnValue = false;
        //    $("#TypeID").focus();
        //}
        //if ($("#UserName").val() == "") {
        //    $('#UserName').css('border-color', 'red');
        //    $("#UserName").focus();

        //    ReturnValue = false;

        //}
        $("#myform").validate();
        //if ($("#UserPassword").val() == "") {
        //    $('#UserPassword').css('border-color', 'red');
        //    $("#UserPassword").focus();

        //    ReturnValue = false;

        //}

      

        var Data = { Name: $('#UserName').val(), ID: $("#Userid").val() }
        $.ajax({
            async: false,
            url: "/GLUser/Duplicate",
            data: Data,
            success: function (data) {

                var c =JSON.parse(data);
                if (c!="") {
                    alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                alert("Error")
            }
        })
        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });


</script>


