﻿@model  InventorySystemModel.InventoryModel.AdmissionInformation

@{
    ViewBag.Title = "Admission Information - Add";
}

@using (@Html.BeginForm("Save", "AdmissionInformation", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myform" ,@class= "cmxform" }))
{

    <input type="hidden" id="TransforDatatable" name="TransforDatatable" />
    <input type="hidden" id="TotDetailRowNo" />
    @Html.ValidationSummary(true,"")

    <input type="hidden" id="ExamDatatable" name="ExamDatatable" />
    <input type="hidden" id="ExamDetailRowNo" />
        @Html.HiddenFor(m => m.AdmisssionID)

    if (Model.AdmisssionID > 0)
    {

        ViewBag.Title = "Admission Information - Edit";

    }
   
    <header class="page-header">
        <h2>Admission</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Registration</span></li>
                <li><span>Admission</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">Admission </h2>
                        <p class="panel-subtitle">
                            Form control for input Admission data .
                        </p>
                    </header>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabs tabs-primary">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#ItemsInfo" data-toggle="tab"><i class="fa fa-star"></i> Student Information</a>
                                        </li>
                                        <li>
                                            <a href="#ItemsDetail" data-toggle="tab"><i class="fa fa-globe"></i> Details</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="ItemsInfo" class="tab-pane active ">

                                            
                                            <div class="form-group ">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h3>Admission Information</h3>
                                                           
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                             
                                         

                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Session <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">

                                                        @Html.DropDownListFor(model => model.SessionID, Model.getAllSessionValue(), new { @class = "form-control selectpicker "})

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">College Name <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.InstituteName, new { @class = "form-control", @placeholder = "Enter College Name",required = "required" })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Admission Date <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.AdmissionDate, new { @class = "form-control ", required = "required" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Part <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.DropDownListFor(model => model.Partid, Model.getPartValue(), new { @class = "form-control selectpicker " })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Fee Package  </label>
                                                    <div class="col-sm-9 ">

                                                        <select id="PackageFeeID" name="PackageFeeID" class="form-control selectpicker ">
                                                            <option value="0">Select Fee Package  </option>

                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Registration no# <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.RegistrationNo, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Registration" })


                                                    </div>
                                                </div>
                                                <h3>Personal Information</h3>

                                                <hr />


                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Roll no# <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.Rollno, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Roll no" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Student Name <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control uneditable-input  ", required = "required", @placeholder = "Enter Name" })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Cnic <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.Cnic, new { @class = "form-control ", required = "required", @placeholder = "Enter CNIC" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">FatherName <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control uneditable-input ",required = "required", @placeholder = "Enter Father Name" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Date of Birth <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.DOB, new { @class = "form-control  ", required = "required" })


                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Mobile No# <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control ", required = "required", @placeholder = "Enter Mobile" })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Status <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.DropDownListFor(model => model.TypeofStd, Model.getstatusValue(), new { @class = "form-control selectpicker " })


                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Email Address  </label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.EmailAddresss, new { @placeholder = "Enter Email Address",@class = "form-control " })



                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Gender  </label>
                                                    <div class="col-sm-2 ">
                                                        <label>

                                                            @Html.RadioButtonFor(model => model.gender, "True") Female
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2 ">
                                                        <label>

                                                            @Html.RadioButtonFor(model => model.gender, "False")
                                                            Male
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">District <span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.DropDownListFor(model => model.Distictid, Model.getDistrictList(), new { @class = "form-control selectpicker " })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Religion  </label>
                                                    <div class="col-sm-2 ">
                                                        <label>


                                                            @Html.RadioButtonFor(model => model.Religion, "True")
                                                            Non Muslim
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2 ">
                                                        <label>


                                                            @Html.RadioButtonFor(model => model.Religion, "False")
                                                            Muslim
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Address<span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.Address, new { @placeholder = "Enter Address", @class = "form-control " })


                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Permanent Address<span class="required">*</span></label>
                                                    <div class="col-sm-9 ">
                                                        @Html.TextBoxFor(model => model.PerAddress, new { @placeholder = "Enter Permanent Address", @class = "form-control " })


                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="pic">Picture <span class="myrequired">*</span></label>
                                                    <div class="col-sm-9">

                                                        <input type="hidden" id="pathphoto" name="PhotoPath" value="@Model.PhotoPath" />
                                                        <input style="margin-top: 5px;" type="file" value="" name="ImageUpload" size="40" accept="image/jpeg, image/png" class="form-control"  onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />

                                                        @*<input name="pic" type="file" required="" class="form-control" id="pic" onchange="readURL(this);" size="40" accept="image/*">
                                                        <input type="text" name="oldpicname" id="oldpicname" value="" hidden="hidden">*@
                                                        <br><br>

                                                        <div class="col-sm-3">
                                                            <img src="@Url.Content(Model.PhotoPath)" @*height="500" width="500"*@ class="img-circle img-responsive img-fluid img-thumbnail " id="imagePreview" />

                                                        </div>
                                                        <div class="col-sm-9">
                                                            <p>
                                                                <strong>Instructions for Upload Picture:</strong><br>
                                                                Scan your recent passport size colour photograph taken at a photo studio   at 300 dpi. Your application will be rejected if the uploaded   photograph does not meet the following requirements: <br>
                                                                <a href="@Url.Content(Model.PhotoPath)" target="_blank">Click Here to View Sample</a>
                                                            </p>
                                                            <ul>
                                                                <li>Your full face must be clearly visible.</li>
                                                                <li>Background must be plain white, off-white or clear. (plain blue is acceptable)</li>
                                                                <li>The photograph must be scanned clearly and must not be blurry or pixelated.</li>
                                                                <li>Uploaded photograph must be in JPEG (.jpg) file format.</li>
                                                            </ul>
                                                            <p>
                                                            </p>
                                                        </div>


                                                    </div>
                                                </div>
                                              

                                            </div>

                                        </div> 


                                        <div id="ItemsDetail" class="tab-pane">


                                            <div class="row">

                                                <div class="col-md-12">



                                                    <h3>Subject Detail</h3>

                                                    <div id="docdetail" style="height: auto;overflow-y:auto;overflow-x:auto;">
                                                        <table class="table table-bordered table-striped mb-none table-hover" id="datatable2">

                                                            @*<table style="margin-bottom:0px;" id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-hover table-responsive ">*@
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:50px">Serial No#</th>
                                                                    <th>Subject</th>
                                                                    <th style="width:100px">Status</th>
                                                                    <th style="width:80px"> Action </th>


                                                                </tr>
                                                            </thead>
                                                            <tbody id="DocmentBodyID">
                                                                @{

                                                                                //  var host = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port);
                                                                                //  string host = Request.Url.Authority;
                                                                                if (Convert.ToBoolean(ViewData["Editmode"]))
                                                                                {

                                                                                    int a = 0;
                                                                                    foreach (var item in Model.detailistSubject)
                                                                            {
                                                                                <tr id="@a">
                                                                                    @{
                                                                                            int countserial = 0;
                                                                                            countserial = 1 + @a;
                                                                                        }
                                                                                    <td><span id="SerialNo_@a" readonly="readonly" class="form-control">@countserial </span></td>

                                                                                    <td class="input">
                                                                                        <select id="subject_@a" name="subjectID" class="form-control selectpicker">
                                                                                            <option selected="selected" value="0"> Select Subject</option>

                                                                                            @foreach (var item1 in Model.getAllSubjject())
                                                                                            {
                                                                                                if (int.Parse(item1.Value.ToString()) == int.Parse((Model.detailistSubject).ToArray()[a].subectID.ToString()))
                                                                                                {
                                                                                                    <option selected="selected" value="@item1.Value" name="">@item1.Text</option>
                                                                        }
                                                                                                else
                                                                                                {
                                                                                                    <option value="@item1.Value" name="">@item1.Text</option>

                                                                    }
                                                                                            }
                                                                                        </select>
                                                                                    </td>
                                                                                    <td>

                                                                                        <select id="substatus_@a" name="status" class="form-control selectpicker">
                                                                                            @*<option  value="0" > Pass</option>
                                                                                                <option  value="1"> Fail</option>*@

                                                                                            @if (Convert.ToBoolean(Model.detailistSubject.ToArray()[a].status))
                                                                                            {
                                                                                                <option value="0"> Pass</option>
                                                                                                <option selected="selected" value="1" name="">Fail</option>

                                                                                            }
                                                                                            else if (!Convert.ToBoolean(Model.detailistSubject.ToArray()[a].status))
                                                                                            {
                                                                                                <option selected="selected" value="0"> Pass</option>
                                                                                                <option value="1" name="">Fail</option>

                                                                                            }
                                                                                            else

                                                                                            {
                                                                                                <option value="0"> Pass</option>
                                                                                                <option value="1" name="">Fail</option>

                                                                                            }

                                                                                        </select>

                                                                                    </td>
                                                                                    <td>
                                                                                        <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="detailDataAdd_@a" value="+" onclick="AddTOTdetailData($(this).parent().parent().attr('id'), false)" title="Add">
                                                                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span>
                                                                                        </button>
                                                                                        <button type="button" style="" id="detailDataDelete_@a" title="Remove" value="-" onclick="DeleteDetailData(this)" class="btn btn-danger  btn-xs btn-circle">
                                                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span>
                                                                                        </button>
                                                                                    </td>

                                                                                </tr>
                                                                          a++;
                                                                        }
                                                                       }
                                                                                   

                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>



                                                </div>




                                            </div>

                                            <hr />

                                            <div class="row">

                                                <div class="col-md-12">



                                                    <h3>Last Exam Detail</h3>

                                                    <div id="docdetail" style="height: auto;overflow-y:auto;overflow-x:auto;">
                                                        <table class="table table-bordered table-striped mb-none table-hover" id="datatable3">

                                                            @*<table style="margin-bottom:0px;" id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-hover table-responsive ">*@
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:10px">Serial No#</th>
                                                                    <th style="width:150px">Exam Type</th>
                                                                    <th>Degree</th>

                                                                    <th>RollNo#</th>
                                                                    <th>Year</th>
                                                                    <th>University </th>
                                                                    <th style="width:80px">Action </th>



                                                                </tr>
                                                            </thead>
                                                            <tbody id="EXamBodyID">
                                                                @{
                                                                    {
                                                                        if (Convert.ToBoolean(ViewData["Editmode"]))
                                                                        {

                                                                        int a = 0;
                                                                        foreach (var item in new InventorySystemModel.InventoryModel.AdmissionInformation().getExamdetailData(Convert.ToInt32(Model.AdmisssionID)))
                                                                        {
                                                                            <tr id="@a">
                                                                                @{
                                                                                    int countserial = 0;
                                                                                    countserial = 1 + @a;
                                                                                }
                                                                                <td><span id="SerialNo_@a" readonly="readonly" class="form-control">@countserial </span></td>
                                                                                <td>

                                                                                    <select id="examtype_@a" name="Type" class="form-control selectpicker">

                                                                                        @if (Model.detailistExam.ToArray()[a].Type == "1")
                                                                                        {
                                                                                            <option value="0"> Annual</option>
                                                                                                <option selected="selected" value="1" name="">Supplementry</option>

                                                                                        }
                                                                                        else if (Model.detailistExam.ToArray()[a].Type == "0")
                                                                                        {
                                                                                            <option selected="selected" value="0"> Annual</option>
                                                                                                <option value="1" name="">Supplementry</option>

                                                                                        }
                                                                                        else

                                                                                        {
                                                                                            <option value="0"> Annual</option>
                                                                                                <option value="1" name="">Supplementry</option>

                                                                                        }

                                                                                    </select>


                                                                                </td>
                                                                                <td><input type="text" class="form-control" value="@Model.detailistExam.ToArray()[a].Degree" id="Degree_" name="Degree" />  </td>
                                                                                <td> <input type="text" class="form-control" value="@Model.detailistExam.ToArray()[a].RollNumber" id="Rollno_" name="RollNumber" /> </td>
                                                                                <td> <input type="text" class="form-control number " value="@Model.detailistExam.ToArray()[a].Year" id="Year_" name="Year" />  </td>
                                                                                <td> <input type="text" class="form-control" value="@Model.detailistExam.ToArray()[a].Institute" id="Universty_" name="Institute" /></td>


                                                                                <td>
                                                                                    <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="detailDataAdd_@a" value="+" onclick="AddExamdetailData($(this).parent().parent().attr('id'), false)" title="Add">
                                                                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span>
                                                                                    </button>
                                                                                    <button type="button" style="" id="detailDataDelete_@a" title="Remove" value="-" onclick="DeleteDetailDataExam(this)" class="btn btn-danger  btn-xs btn-circle">
                                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span>
                                                                                    </button>
                                                                                </td>

                                                                            </tr>
                                                                                                a++;
                                                                                            }
                                                                                        }
                                                                                    }

                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>



                                                </div>




                                            </div>
                                            <hr />



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

                                                                                    }


<script>

    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

    function postform() {

        $("#myform").validate();

        var ReturnValue = true


        if ($('#SessionID').val()=="0") {
            $('#SessionID').selectpicker('setStyle', 'btn-danger');
            $('#SessionID').selectpicker('refresh');
            var ReturnValue = false
        }

        if ($('#TypeofStd').val() == "0") {
            $('#TypeofStd').selectpicker('setStyle', 'btn-danger');
            $('#TypeofStd').selectpicker('refresh');
            var ReturnValue = false


        }

        if ($('#Partid').val() == "0") {
            $('#Partid').selectpicker('setStyle', 'btn-danger');
            $('#Partid').selectpicker('refresh');
            var ReturnValue = false


        }




        var Data = { Name: $('#Cnic').val(), ID: $("#AdmisssionID").val() }

        console.log(Data)
        $.ajax({
            async: false,
            url: "/AdmissionInformation/Duplicate",
            data: Data,
            success: function (data) {

                var c = JSON.parse(data);
                if (c != "") {
                    alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                alert("Error")
            }
        })

        if (ReturnValue) {
            $("#myform").submit();

        }

    }


    $(document).ready(function () {

        $("input[type=text]").focus(function () {
            $(this).select();
        });

        $("#PhoneNo").mask("9999-9999999", { "clearIncomplete": true });
        $("#Cnic").mask("99999-99999999-9", { "clearIncomplete": true });
        
        $("#DOB").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,

            //startDate: "2018-07-01",

            // minuteStep: 10
        });


        $("#AdmissionDate").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,

            //startDate: "2018-07-01",

            // minuteStep: 10
        });
        if ('@Model.detailistSubject.Count()' < 1) {
            $('#AdmissionDate').datepicker('setDate', new Date());
            $('#DOB').datepicker('setDate', new Date());
        }


        if ('@Model.detailistSubject.Count()' < 1) {
           AddTOTdetailData(0, true);
        }

        if ('@Model.detailistExam.Count()' < 1) {
           AddExamdetailData(0, true)
        }
        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);
        }
    });





    function AddTOTdetailData(ThisRowID, FromDocumentDotReady) {
        var dtProductDetailInfoHtml;
        var totalNullAccountsCount = 0;
        if (FromDocumentDotReady != true) {
            if (document.getElementById("subject_" + ThisRowID).value == 0) {

                $('#subject_' + ThisRowID).selectpicker({ style: 'btn-danger' });
                $('#subject_' + ThisRowID).selectpicker('refresh');
                $('#btnTriggerMessage1').click();
                return false;
            }
        }

        ////TotDetailRowNo
        $("#DocmentBodyID tr").each(function () {

            if (document.getElementById("subject_" + $(this).prop('id')).value == 0) {
                totalNullAccountsCount++;
            }
        });
        if (totalNullAccountsCount < 1) {
            if (FromDocumentDotReady != true) {
                document.getElementById("TotDetailRowNo").value = $('#DocmentBodyID tr:last').attr('id');
                document.getElementById("TotDetailRowNo").value++;
            }
            else {
                document.getElementById("TotDetailRowNo").value = 0
            }



            @{
                string subject = "";
                subject += "<option value=0 >Select Type </option>";

            foreach (var item1 in new InventorySystemModel.InventoryModel.AdmissionInformation().getAllSubjject())
            {
                subject += "<option value=" + "\"" + @item1.Value + "\"" + ">" + @item1.Text + "</option>";
             }
            }

            @{
                   string substatus = "";
                   substatus += "<option value=0 >Pass </option>";
                   substatus += "<option value=1 >Fail </option>";


               }


            var substatus = '@substatus'.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, '"');

            var subject = '@subject'.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, '"');

            var q = document.getElementById("TotDetailRowNo").value;

            var i = parseFloat(q) + 1;

            //  <input   id="File_' + document.getElementById("TotDetailRowNo").value + '"  multiple = "true"   type="file"  name="Chdate_Name[]"  />
            //
            dtProductDetailInfoHtml = '';
            dtProductDetailInfoHtml = '<tr id="' + document.getElementById("TotDetailRowNo").value + '">';
            dtProductDetailInfoHtml += '<td class="input"> <span class="form-control"  readonly="readonly"   id="SerialNo_' + document.getElementById("TotDetailRowNo").value + '">' + i + '</span></td>';
            dtProductDetailInfoHtml += '<td >  <select class="form-control selectpicker"  onchange="colorchange(' + q + ')"   id="subject_' + document.getElementById("TotDetailRowNo").value + '" name="subjectID" > ' + subject + ' </select> </td>';

            dtProductDetailInfoHtml += '<td >  <select class="form-control selectpicker"  onchange="colorchange(' + q + ')"   id="substatus_' + document.getElementById("TotDetailRowNo").value + '" name="status" > ' + substatus + ' </select>  </td>';



            dtProductDetailInfoHtml += '<td > <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="VoucherdetailDataAdd_' + document.getElementById("TotDetailRowNo").value +
            '" value="+" onclick="AddTOTdetailData($(this).parent().parent().attr(\'id\'),false)"  title="Add" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button> <button type="button" style="" id="ProductdetailDataDelete'
            + document.getElementById("TotDetailRowNo").value + '" title="Remove" value="-" onclick="DeleteDetailData(this,$(this).parent().parent().attr(\'id\'))"  class="btn btn-danger  btn-xs btn-circle "   ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button>  </td>';


            dtProductDetailInfoHtml += '</tr>';
            $("#DocmentBodyID").append(dtProductDetailInfoHtml);

            //  document.getElementById("Description_" + document.getElementById("TotDetailRowNo").value);
            $('.selectpicker').selectpicker({
                liveSearch: true,
                size: 5,

                // width: 'auto',
                container: "body"
            });

        }
    }

    function AddExamdetailData(ThisRowID, FromDocumentDotReady) {

        var dtProductDetailInfoHtml;
        var totalNullAccountsCount = 0;
        if (FromDocumentDotReady != true) {
            if (document.getElementById("examtype_" + ThisRowID).value == "") {

                $('#examtype_' + ThisRowID).selectpicker({ style: 'btn-danger' });
                $('#examtype_' + ThisRowID).selectpicker('refresh');
                $('#btnTriggerMessage1').click();
                return false;
            }

        }

        ////TotDetailRowNo
        $("#EXamBodyID tr").each(function () {

            if (document.getElementById("examtype_" + $(this).prop('id')).value == "") {
                totalNullAccountsCount++;
            }
        });
        if (totalNullAccountsCount < 1) {
            if (FromDocumentDotReady != true) {
                document.getElementById("ExamDetailRowNo").value = $('#EXamBodyID tr:last').attr('id');
                document.getElementById("ExamDetailRowNo").value++;
            }
            else {
                document.getElementById("ExamDetailRowNo").value = 0
            }



            @{
                string Exaamtype = "";

                Exaamtype += "<option value=0 >Annual</option>";
                Exaamtype += "<option value=1 >Supplementry </option>";

            }

            var Exaamtype = '@Exaamtype'.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, '"');

            var q = document.getElementById("ExamDetailRowNo").value;

            var i = parseFloat(q) + 1;

            //  <input   id="File_' + document.getElementById("TotDetailRowNo").value + '"  multiple = "true"   type="file"  name="Chdate_Name[]"  />
            //
            dtProductDetailInfoHtml = '';
            dtProductDetailInfoHtml = '<tr id="' + document.getElementById("ExamDetailRowNo").value + '">';
            dtProductDetailInfoHtml += '<td  class="input"> <span class="form-control"  readonly="readonly"   id="SerialNo_' + document.getElementById("ExamDetailRowNo").value + '">' + i + '</span></td>';
            dtProductDetailInfoHtml += '<td >  <select class="form-control selectpicker" id="examtype_' + document.getElementById("ExamDetailRowNo").value + '" name="Type" > ' + Exaamtype + ' </select> </td>';
            dtProductDetailInfoHtml += '<td >  <input  type="text"  class="form-control" id="Degree_' + document.getElementById("ExamDetailRowNo").value + '" name="Degree" /> </td>';

            dtProductDetailInfoHtml += '<td >  <input  type="text"  class="form-control" id="Rollno_' + document.getElementById("ExamDetailRowNo").value + '" name="RollNumber" /> </td>';
            dtProductDetailInfoHtml += '<td >   <input  type="text"  class="form-control"  onkeypress="return isNumber(event)" id="Year_' + document.getElementById("ExamDetailRowNo").value + '" name="Year" /> </td>';
            dtProductDetailInfoHtml += '<td >  <input  type="text"  class="form-control" id="Universty_' + document.getElementById("ExamDetailRowNo").value + '" name="Institute" /> </td>';




            dtProductDetailInfoHtml += '<td > <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="VoucherdetailDataAdd_' + document.getElementById("ExamDetailRowNo").value +
            '" value="+" onclick="AddExamdetailData($(this).parent().parent().attr(\'id\'),false)"  title="Add" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button> <button type="button" style="" id="ProductdetailDataDelete'
            + document.getElementById("ExamDetailRowNo").value + '" title="Remove" value="-" onclick="DeleteDetailDataExam(this,$(this).parent().parent().attr(\'id\'))"  class="btn btn-danger  btn-xs btn-circle "   ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button>  </td>';


            dtProductDetailInfoHtml += '</tr>';
            $("#EXamBodyID").append(dtProductDetailInfoHtml);

            //  document.getElementById("Description_" + document.getElementById("ExamDetailRowNo").value);
            $('.selectpicker').selectpicker({
                liveSearch: true,
                size: 5,

                // width: 'auto',
                container: "body"
            });

        }
    }


    function DeleteDetailData(element, rowid) {


        var Next = $(element).parent().parent().next("tr").length;
        var Prev = $(element).parent().parent().prev("tr").length;

        if (parseInt(Next) > 0 || parseInt(Prev) > 0) {
            $(element).parent().parent().remove();
        }
        else {
            $("#DocmentBodyID tr").remove();
            AddTOTdetailData(0, true);
        }
    }

    function DeleteDetailDataExam(element, rowid) {


        var Next = $(element).parent().parent().next("tr").length;
        var Prev = $(element).parent().parent().prev("tr").length;

        if (parseInt(Next) > 0 || parseInt(Prev) > 0) {
            $(element).parent().parent().remove();
        }
        else {
            $("#EXamBodyID tr").remove();
            AddExamdetailData(0, true);
        }
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }


    $('#Partid').change(function () {
        var url = '@Url.Action("LoadPackages", "AdmissionInformation")';
        var Partid = $('#Partid option:selected').attr('value');
        var Packagee = $('#PackageFeeID');

        if (Partid > 0) {


            $.getJSON(url,
                { id: Partid },
                function (response) {

                    console.log(response)
                    Packagee.empty();
                    Packagee.append(new Option("Select Fee Package ", "0"));
                    $.each(response,
                             function (index, item) {
                                 var out = new Option(item.Text, item.Value);
                                 Packagee.append(out);
                             });

                    Packagee.selectpicker('refresh');


                });
        }
    });


</script>














