﻿@model InventorySystemModel.InventoryModel.AdmissionInformation

@{
    ViewBag.Title = "Index";
}
@*<link rel="shortcut icon" href="~/Content/.png" type="image/x-icon">
<link rel="icon" href="~/Content/.png" type="image/x-icon">*@


<div id="modals"></div>


<!-- Modal Animation -->
<div id="basicPrint" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Please Select Detail or Basic Information Print</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                  
                    <select  class="form-control "  id="CbBasicPrint" name="CbBasicPrint">
                        <option value="0">Basic</option>
                        <option value="1">Detail</option>
                    </select>

                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default modal-dismiss">Cancel</button>
                    <button type="button" class="btn btn-success  modal-dismiss " onclick="confirmPopupPrint()">Print</button>
                </div>
            </div>
        </footer>
    </section>
</div>




<header class="page-header">
    <h2>Admission</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Registration</span></li>
            <li><span>Admission</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">All Admission Data</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    @if (Model.IsNew)
                    {
                        <button type="button" id="Add" onclick="add();" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New</button>
                        @* <button type="button" id="cancelll" onclick="window.history.back()" class="btn btn-primary">Cancel</button>*@
                    }

                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none table-hover" id="CatTable">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Registration NO</th>
                    <th>Part</th>

                    <th>Name</th>
                    <th>CINC</th>
                    <th>Gender</th>
                    <th>Status</th>






                    <th width="100px">Actions</th>
                </tr>
            </thead>

            <tbody id="ProductTableID">
                @foreach (var item in Model.getAllData())
                {
                    <tr>



                        <td> @item.title </td>
                        <td> @item.RegistrationNo </td>
                        <td> @item.parttitle </td>

                        <td> @item.Name </td>
                        <td> @item.Cnic</td>
                        <td> @item.gender </td>
                        <td> @item.StudentTypetitle</td>
                        
                        <td>
                            @if (Convert.ToBoolean(Model.Isedit))
                            {

                                <a href="#basicEdit" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Edit" onclick="Edit(@item.AdmisssionID)">
                                    <i class="fa fa-pencil"></i>

                                </a>
                            }
                            @if (Convert.ToBoolean(Model.Isdelete))
                            {
                                <a href="#basic" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Delete" onclick="Del(@item.AdmisssionID)">
                                    <i class="glyphicon glyphicon-trash"></i>

                                </a>
                            }
                            <a href="#" class="on-default edit-row" title="View" onclick="view(@item.AdmisssionID)">
                                <i class="fa fa-table"></i>

                            </a>

                            <a href="#basicPrint" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Print" onclick="Print(@item.AdmisssionID)">
                                <i class="glyphicon glyphicon-print"></i>

                            </a>



                            @*<a href="#" class="on-default edit-row" title="Print" onclick="Print(@item.AdmisssionID)">
                                <i class="fa fa-print"></i>

                            </a>*@

                            @*<button class="btn btn-success btn-xs" onclick="view(@item["Voucherid"])"><span class="glyphicon glyphicon-blackboard"></span> View</button>*@
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("#modals").load('/CustomClasses/IndexModaling.html')
        $("#CatTable").dataTable(
               {
                   "aoColumns": [{ "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true }, { "bSearchable": false }
                   ],
                   "bSort": true,

                   //   dom: '<"html5buttons"B>lTfgitp',
                   dom: 'Bfrtip',
                   buttons: [
                              {
                                  extend: 'copy',
                                  text: '<span class="glyphicon glyphicon-floppy-disk"></span><span><strong> Copy</strong></span>',
                                  className: 'btn btn-primary  btn-sm',

                                  title: 'Admission',

                                  exportOptions: {
                                      columns: ':visible'
                                  }

                              },

                            {
                                extend: 'pdf',
                                text: '  <span class="glyphicon glyphicon-file"></span><span> PDF</strong></span>',
                                className: 'btn btn-primary  btn-sm',
                                title: 'Admission',
                                orientation: 'portrait',
                                pageSize: 'A4',
                                exportOptions: {
                                    columns: ':visible'
                                },

                                customize: function (doc) {

                                    doc.styles.title = {
                                        color: 'red',
                                        fontSize: '40',
                                        // background: 'blue',
                                        alignment: 'center'
                                    }
                                },



                            },

                             {

                                 title: 'Admission',
                                 text: '<span class="glyphicon glyphicon-th"></span><span><strong> Excel</strong></span>',
                                 className: 'btn btn-primary  btn-sm',
                                 orientation: 'portrait',
                                 pageSize: 'A4',
                                 extend: 'excel',
                                 footer: true,
                                 exportOptions: {
                                     columns: ':visible'
                                 }
                             },


                           {
                               extend: 'csv',

                               title: 'Admission',
                               text: '<span class="	glyphicon glyphicon-list-alt"></span><span><strong> CSV</strong></span>',
                               className: 'btn btn-primary  btn-sm',
                               exportOptions: {
                                   columns: ':visible'
                               }

                           },
                         {
                             extend: 'print',
                             title: 'Admission',
                             text: '<span class="glyphicon glyphicon-print"></span><span><strong> Print</strong></span>',
                             className: 'btn btn-primary  btn-sm',

                             exportOptions: { columns: ':visible' }

                         },
                         {

                             extend: 'colvis',
                             text: '<span class="glyphicon glyphicon-blackboard"></span><span><strong> Column visibility</strong></span>',
                             className: 'btn btn-primary  btn-sm',

                             //  'colvis'
                         }

                   ],
                   columnDefs: [{ targets: -1, visible: true }]
                   //paging: false
               })
          var a = '@TempData["Dependancy"]'
        if (a != "") {
            $("#basicDendent").modal('show');
        }
        })
</script>

<script>

        function add() {
            window.location.href = "/AdmissionInformation/create/"
        }

        var EditID = 0;
        var DeleteID = 0;
        var PrintID = 0;

        function confirmPopupEdit()
        {
            window.location.href = "/AdmissionInformation/Edit/" + EditID + "|1"
        }

        function Edit(id) {
            EditID=id
        }

        function confirmPopupDelete() {
            window.location.href = "/AdmissionInformation/delete/" + DeleteID

        }
        function Del(id) {
            DeleteID = id
        }

        function view(id) {
            window.location.href = "/AdmissionInformation/Edit/" + id + "|0"

        }


        function confirmPopupPrint() {

      
            window.location.href = "/GLReports/AdmissionReport/?id=" + PrintID + "&type=" + $("#CbBasicPrint").val() + " ";

        }

        function Print(id) {
            // window.location.href = "/GLReports/AdmissionReport/" + id + "|0"
            PrintID = id

        }

</script>




