﻿
@model SAGERPNEW2018.Models.Loginform
@{

    Layout = null;

}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="SAG ERP" />
    <meta name="description" content="Zulqarnain Ahmad Software Engineer 03127798518">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="~/assets/images/ERPlogo.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/ERPlogo.png" type="image/x-icon">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
    <link rel="stylesheet" href="/assets/vendor/select2/select2.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css" />
   @* <script src="/Scripts/bootbox.min.js"></script>*@
    @*<script src="/Scripts/bootbox.js"></script>*@
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    @using (@Html.BeginForm("CheckLogin", "Home", FormMethod.Post, new
    {
        @id = "Myform"
    }))
    {
        <section class="body-sign">
            <div class="center-sign">
                <a href="#" class="logo pull-left">
                    <img src="/assets/images/ERPlogo.png" height="100" alt="SAG ERP" />
                </a>

                <div class="panel panel-sign">
                    <div class="panel-title-sign mt-xl text-right">
                        <h2 class=""><i class="fa fa-user mr-xs"></i> Sign In</h2>
                    </div>
                    <div class="panel-body">
                        <form action="index.html" method="post">
                            <div class="form-group mb-lg">
                                <label>Username</label>
                                <div class="input-group input-group-icon">
                                    @*<input name="username" type="text" class="form-control input-lg" />*@
                                    @Html.TextBoxFor(model => model.Username, new { @placeholder = "User Name", @autofocus = "autofocus", @class = "form-control input-lg " })


                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">Password</label>
                                  
                                </div>
                                <div class="input-group input-group-icon">
                                    @*<input name="pwd" type="password" class="form-control input-lg" />*@
                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "User Password", @class = "form-control input-lg ", @type = "password" })

                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            


                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="RememberMe" name="rememberme" type="checkbox" />
                                        <label for="RememberMe">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All Rights Reserved.</p>
            </div>
        </section>

    }

    

    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/assets/vendor/select2/select2.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/Content/assets/js/bootbox.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/javascripts/theme.init.js"></script>
    <script>

        $(document).ready(function () {
     

            var ttt = '@TempData["LoginFailed"]'

            if (ttt != "") {
                bootbox.alert(ttt)
            }
        })
        //function PostForm() {
        //    Window.location.href = "/Home/CheckLogin";
        //}
        $('.Companyid').select2({
            selectOnClose: true
        });

    </script>

    </body>


</html>
   