﻿@model InventorySystemModel.InventoryModel.Gen_BranchInfo

@{
    ViewBag.Title = "Branch Info";
}


@using (@Html.BeginForm("Save", "BranchInfo", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.BranchID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = ViewBag.Title + " View";
        }
        else
        {
            ViewBag.Title = ViewBag.Title + " Edit";
        }

    }
    else
    {

        ViewBag.Title  = ViewBag.Title + " Create";

    }
    @Html.HiddenFor(m => m.BranchID)
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>@ViewBag.Title</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">@ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for input @ViewBag.Title data .
                        </p>
                    </header>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Code <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Code" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Company <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.DropDownListFor(model => model.Company_ID, Model.loadCompany(), new { @placeholder = "Enter Type", @class = "form-control selectpicker " })

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">Branch Title <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.BranchTitle, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Branch Title InUrdu <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.BranchTitleInUrdu, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title In urdu" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Address" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address InUrdu<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.AddressInUrdu, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Address" })

                            </div>
                        </div>
                      

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone No<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.PhoneNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Phone" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile No<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.MobileNr, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Mobile no" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">InActive <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                <label class="" for="Active">In Active </label>

                                @Html.CheckBoxFor(model => model.InActive, new { })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> Description<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Description" })

                            </div>
                        </div>

                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="pic">Picture <span class="required">*</span></label>
                            <div class="col-sm-9">

                                <input type="hidden" id="LogoPath" name="LogoPath" value="@Model.LogoPath" />
                                <input style="margin-top: 5px;" type="file" value="" name="ImageUpload" size="40" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />

                                <br><br>

                                <div class="col-sm-3">
                                    <img src="@Url.Content(Model.LogoPath)" @*height="500" width="500"*@ class="img-circle img-responsive img-fluid img-thumbnail " id="imagePreview" />

                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong>Instructions for Upload Picture:</strong><br>
                                        Scan your recent passport size colour photograph taken at a photo studio   at 300 dpi. Your application will be rejected if the uploaded   photograph does not meet the following requirements: <br>
                                        <a href="@Url.Content(Model.LogoPath)" target="_blank">Click Here to View Sample</a>
                                    </p>
                                    <ul>
                                        <li>Your full face must be clearly visible.</li>
                                        <li>Background must be plain white, off-white or clear. (plain blue is acceptable)</li>
                                        <li>The photograph must be scanned clearly and must not be blurry or pixelated.</li>
                                        <li>Uploaded photograph must be in JPEG (.jpg) file format.</li>
                                    </ul>
                                    <p>
                                    </p>
                                </div>


                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>


    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

    function postform() {

        var ReturnValue = true

        $("#myform").validate();




        var Data = { Name: $('#BranchTitle').val(), ID: $("#BranchID").val() }
        $.ajax({
            async: false,
            url: "/BranchInfo/Duplicate",
            data: Data,
            success: function (data) {

                var c =JSON.parse(data);
                if (c!="") {
                    bootbox.alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                bootbox.alert("Error")
            }
        })
        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });


</script>



