﻿@model InventorySystemModel.InventoryModel.Gen_PartyTypeInfo


@{
    ViewBag.Title = "Party Type Information";
}


@using (@Html.BeginForm("Save", "PartyTypeInfo", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.PartyTypeID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = "Party Type Info View";
        }
        else
        {
            ViewBag.Title = "Party Type Info Edit";
        }

    }
    else
    {

        ViewBag.Title = "Party Type Info Create";

    }
    @Html.HiddenFor(m => m.PartyTypeID)
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>Party Type Info</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">Party Type Info</h2>
                        <p class="panel-subtitle">
                            Form control for input Party Type  Info data .
                        </p>
                    </header>
                    <div class="panel-body">
                 
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Territory Code <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Code" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.PartyTypeTitle, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title " })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">In Urdu<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.PartyTypeTitleInUrdu, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter In Urdu" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Description" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Initial<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.Initial, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Initial" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Group Account<span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.GroupAccount_ID, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Group Account" })

                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}




<script>


    //function ShowImagePreview(imageUploader, previewImage) {
    //    if (imageUploader.files && imageUploader.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $(previewImage).attr('src', e.target.result);
    //        }
    //        reader.readAsDataURL(imageUploader.files[0]);
    //    }
    //}

    function postform() {

        var ReturnValue = true

        $("#myform").validate();




        var Data = { Name: $('#PartyTypeTitle').val(), ID: $("#PartyTypeID").val() }
        $.ajax({
            async: false,
            url: "/PartyTypeInfo/Duplicate",
            data: Data,
            success: function (data) {

                var c =JSON.parse(data);
                if (c != "") {

                    ReturnValue = false;
                    bootbox.alert(c)
                    
                }
            },
            error: function () {
                ReturnValue = false;
                bootbox.alert("Error")
            }
        })
        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });


</script>




