﻿<!-- Modal Animation -->
<div id="basicEdit" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to edit this record?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default modal-dismiss">Cancel</button>
                    <button type="button" class="btn btn-primary " onclick="confirmPopupEdit()">Confirm</button>
                </div>
            </div>
        </footer>
    </section>
</div>



<!-- Modal Animation -->
<div id="basic" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to delete this record?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default modal-dismiss" >Cancel</button>
                    <button type="button" class="btn btn-danger " onclick="confirmPopupDelete()">Confirm</button>
                </div>
            </div>
        </footer>
    </section>
</div>


